.Pinterest_logo {
  font-family: 'Abril Fatface', cursive;
}
.Pinterest_footer_button {
  font-size: .9rem;
}

.Pinterest_footer {
  text-align:center; 
  margin-top:2rem;
}

.Pinterest_header {

  text-align:center;
  margin: 2rem 0;

}