 <div class="Pinterest_header">
      <div>
          <h1 class="Pinterest_logo">Pinterest</h1>
      </div>
      <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
              {% comment %} /next={{requset.path} 내 현재 위치를 같이 넘겨줌으로써 로그인후 해당 페이지로 이동{% endcomment %}
              <a href=" {% url 'accountapp:login' %}?next={{requset.path}}">
                  <span>login</span>
              </a>
        {% else %}
              <a href="{% url 'accountapp:logout' %}?next={{requset.path}}">
                  <span>logout</span>
              </a>
        {% endif %}
      </div>
 </div>